.bigpicture {
}
.bigpicture h2 {
	text-transform: capitalize;
	font-size: 3.75rem;
	line-height: 90%;
	font-weight: 500;
	padding-bottom: 3rem;
}

.bigpicture h2 span {
	text-transform: none;
}

.bigpicture h2 + p {
	padding-bottom: 3rem;
}

.bigpicture article {
	display: flex;
	padding: 1.3rem 0;
}

.bigpicture article p {
	font: 400 1rem "DM Sans", sans-serif;
	margin-left: 3rem;
	padding-right: 2rem;
	color: var(--text-primary);
}

.bigpicture article + div {
	display: flex;
	justify-content: center;
}
