.howtostep {
	padding-top: 3.75rem;
}

.howtostep article {
	padding-right: 2rem;
	padding: 0 2rem;
	margin-bottom: 2rem;
}

.howtostep h2 {
	font: 400 4rem "DM Sans", sans-serif;
	color: var(--text-tertiary);
	margin-bottom: 2rem;
}

.howtostep h2 + p {
	text-transform: capitalize;
	font: 400 1.1rem "Crimson Text", serif;
	margin-bottom: 1rem;
}

.howtostep p + p {
	font: 400 0.9rem/1.4 "DM Sans", sans-serif;
}
