.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header h1 {
	font-family: "Crimson text", sans-serif;
	font-weight: 400;
	font-size: 5rem;
	line-height: 4.5rem;
	font-style: normal;
	text-align: center;
	padding-bottom: 4rem;
}
.clear {
	height: 8rem;
	margin-bottom: 3rem;
}

.underlay {
	position: absolute;
	bottom: 13.4rem;
	z-index: -1;
	width: 90vw;
	height: 23rem;
	margin: auto;
	border-radius: 3rem;
	background-color: var(--header-background);
}
