.navbar {
	padding: 0 !important;
}

.round {
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.navbar_top {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	background-color: var(--button-color);
	padding: 1.8rem 2rem;
	border-bottom: 5px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar_bottom {
	position: fixed;
	width: 100%;
	margin-top: 7rem;
	padding: 1rem 1.5rem;
	background-color: var(--button-color);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	border-bottom: 5px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
	font-family: "DM Sans", sans-serif;
	font-size: 3rem;
	line-height: 120%;
	font-weight: 500;
}

.btn_menu {
	font-size: 3rem;
}

.btn-learn {
	font-size: 1rem;
	padding: 1rem 2rem;
	margin-top: 3rem;
	margin-bottom: 2rem;
	border: none;
	border-radius: 3rem;
	background-color: var(--button-primary);
	color: var(--button-color);
}

:global(.icon) {
	font-family: "Material Icons";

	border: none;
	background: none;
	font-style: normal;
	display: inline-block;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}
